<div>
    <% if logged_in? %>
        <% if current_user.admin? %>
            <%= link_to "创建学生", new_student_path, class: "btn btn-primary" %>
            <%= link_to "当前学生", students_path, class: "btn btn-default" %>
            <%= link_to "返回上一级",students_path, class: "btn btn-default" %>
        <% end-%>
    <% end -%>
</div>
