<%= render "layouts/header" %>

<div class="row">
    <div class="form-group">
        <table class="table">
            <tr>
                <th>老师姓名</th>
            </tr>
            <% @teachers.each do |teacher| %>
            <tr>
                <th><%= teacher.name %></th>
            </tr>
            <% end %>
        </table>
    </div>
</div>
