<%= render "layouts/header" %>
<h1>管理员用户管理</h1>

<div class="row">
    <div class="col-sm-5">
        
        <dl>
           <dt>管理员ID</dt>
           <dd><%= current_user.id %></dd>
        </dl> 

        <dl>
           <dt>管理员姓名</dt>
           <dd><%= current_user.name %></dd>
        </dl>    
    </div>
</div>
